CHANNEL=miantiao_me

LOCALE=zh-cn
TIMEZONE=Asia/Shanghai

TELEGRAM=ccbikai
TWITTER=ccbikai
GITHUB=ccbikai
DISCORD=https://DISCORD.com
PODCASRT=https://PODCASRT.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

# Telegram Bot Configuration for Save Feature
BOT_TOKEN=your_bot_token_here
SAVE_CHANNEL_ID=-1001234567890

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false

SENTRY_AUTH_TOKEN=SENTRY_AUTH_TOKEN
SENTRY_DSN=SENTRY_DSN
SENTRY_PROJECT=SENTRY_PROJECT

HOST=telegram.dog
STATIC_PROXY=""
